.swiper {
    width: 100%;
    height: 90vh;
    overflow-x: hidden !important;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    overflow-x: hidden !important;
    /* background: #fff; */
    height: 90vh;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    /* display: block; */
    width: 100%;
    height: 90vh;
    object-fit: cover;
    overflow-x: hidden !important;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden !important;
    
  }
  